!!!
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %link{href: "/assets/app.css", rel: "stylesheet"}/
    %link{href: "http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:700,400", rel: "stylesheet", type: "text/css"}/
    %title Font Downloader - Grab downloadable fonts from any website

  %body
    = styled_flash

    .wrapper 
      %header 
        %nav
          %ul 
            %li 
              %h1 
                %a{href: "/"} Font Downloader
            %li 
              %a{href: "/about"} About

      %main
        = yield

      .push

    %footer
      %nav
        %ul 
          %li
            &copy; 
            %a.logo{href: "http://www.alexchin.co.uk"} Alex Chin
            &nbsp;&middot;&nbsp;Made as as a hackathon.

    %script{src: '/assets/app.js' }
