%p 
  %a{href: "/"} Font Downloader 
  allows you to input any url and download the fonts that are embedded in that website's stylesheet. 
  %a{href: "/"} Font Downloader 
  should only be used to download fonts that you are allowed to access.

%form{action: "", method: "post"}
  %fieldset
    %input{:type => "text", :name => "url", class: "search", placeholder: "Search a URL for fonts"}
    %input{:type => "submit", :value => "Grab fonts"}

%hr

%h2 What will I get?
%p
  Once Font Downloader has looked through the URL's stylesheets, it will download any fonts it finds, zip them up and send them to you. 

%hr

%h2 How to include the fonts?
%p 
  Once you have downloaded the zip file of the fonts from the URL (if there are any), then this is the most common way to include a custom font in CSS:

%pre
  %code.language-css
    = @css

%p 
  Things are shifting heavily toward WOFF though, so you can probably get away with:

%pre
  %code.language-css
    = @woff

%hr